# Basic Python Programming Language

## Why choose Python?
***
1. Python is popular
2. Python is Interpreted
3. Python is Free
4. Python is Simple

## Basic Syntax

### Data Types

In [1]:
# Decimal number
print(101010101010)
print(type(101010101010))
# Float number
print(0.7328)
print(type(0.7328))
# String
print("Hello World")
print(type('Hello World'))
# Empty String
print('')
print(type(''))
# Boolean 
print(True)
print(False)
print(type(True))

101010101010
<class 'int'>
0.7328
<class 'float'>
Hello World
<class 'str'>

<class 'str'>
True
False
<class 'bool'>

### Variable Assignment

In [2]:
my_variable = "Hello World" #string
print(my_variable)

Hello World

In [3]:
# Chained Assignment
a = b = c = 2700

### Rule for Variables Name
***
1. Bisa memiliki panjang karakter berapapun
2. Bisa terdiri dari huruf besar dan kecil (A-Z, a-z, '_') sebagai awalan
3. Tidak bisa digit sebagai awalan (0-9)

In [4]:
a = 20
myName = 'I Made Satria Bimantara'
_age = 21
Address = 'Bali'

In [5]:
#raise Error
9Name = "Budi"

SyntaxError: invalid syntax (<ipython-input-5-5c3daed04c96>, line 2)

### Operators and Expressions in Python

In [6]:
# Aritmatika Opeartor
a = 90
b = 89
c = a +b
d = a- b
e = a* b
f = a /b
g = a % b
# pow
h = a**2

### Comparison Operator

In [7]:
a=90
b = 289
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
False

### String Manipulation

In [8]:
first = "Hello "
last = "World"
print(first + last)
print(first *4)

# Capitalize
print(first.capitalize())
# Lower
print(last.lower())
# Title Case
print(last.title())
# upper case
print("name".upper())

Hello World
Hello Hello Hello Hello
Hello
world
World
NAME

### Python List

In [9]:
# List can contain any types of data
my_List = ['I Made Satria Bimantara', 21, 4.00, "Hello WOrld", True]
print(my_List)

['I Made Satria Bimantara', 21, 4.0, 'Hello WOrld', True]

#### Accessing Python List Using Index

In [10]:
print(my_List[4])
# print value from index 0 to 3
print(my_List[0:4])

True
['I Made Satria Bimantara', 21, 4.0, 'Hello WOrld']

In [11]:
# Modifying a single list
print(my_List[0])
my_List[0] = 'Budi Santoso'
print(my_List[0])

I Made Satria Bimantara
Budi Santoso

In [12]:
# deleting element in list ("Hello WOrld")
print(my_List)
del my_List[3]
print(my_List)

['Budi Santoso', 21, 4.0, 'Hello WOrld', True]
['Budi Santoso', 21, 4.0, True]

### Python Tuples

In [18]:
my_Tuples = ('foo', 'bar', 21,'quux', 'corge', 'geeks', 'for', 'geeks')

In [19]:
# Accesing element in Tuples (identic with List)
print(my_Tuples[3])
print(my_Tuples[0:4])

quux
('foo', 'bar', 21, 'quux')

In [21]:
# Packing and Unpacking
(name, age) = ('I Made Satria Bimantara', 21)
name, age

('I Made Satria Bimantara', 21)

### Python Dictionary

In [29]:
my_Dictionary = {
    'name' : "I Made Satria Bimantara",
    'occupation': 'Udayana University',
    'job' : 'Student',
    'gpa' : 4.00,
    'current_major' : 'Computer Science',
    'current_courses' :['Data Science', 'Data Mining',' Algebra', 'Calculus']
}

In [33]:
# Accessing dictionary with key
print(my_Dictionary['name'])

# Accessing dictionary that element as a list
print(my_Dictionary['current_courses'][2])

I Made Satria Bimantara
 Algebra

In [31]:
# Updating value
my_Dictionary['job'] = 'Back End Engineer'
my_Dictionary

{'name': 'I Made Satria Bimantara',
 'occupation': 'Udayana University',
 'job': 'Back End Engineer',
 'gpa': 4.0,
 'current_major': 'Computer Science',
 'current_courses': ['Data Science', 'Data Mining', ' Algebra', 'Calculus']}

In [36]:
# Get all keys
print(my_Dictionary.keys())
# Get all values
print(my_Dictionary.values())
# Get all keys and values
print(my_Dictionary.items())

dict_keys(['name', 'occupation', 'job', 'gpa', 'current_major', 'current_courses'])
dict_values(['I Made Satria Bimantara', 'Udayana University', 'Back End Engineer', 4.0, 'Computer Science', ['Data Science', 'Data Mining', ' Algebra', 'Calculus']])
dict_items([('name', 'I Made Satria Bimantara'), ('occupation', 'Udayana University'), ('job', 'Back End Engineer'), ('gpa', 4.0), ('current_major', 'Computer Science'), ('current_courses', ['Data Science', 'Data Mining', ' Algebra', 'Calculus'])])