# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Load Data

In [2]:
data_df = pd.read_csv('dataset/campus recruitment.csv')

In [3]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [4]:
data_df.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

# Imputasi Missing Values

In [5]:
data_df.fillna(value=0,inplace=True)

In [6]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          215 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [7]:
data_df

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

# Encoding for categorical attributes

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
categorical_attributes = data_df.select_dtypes(include=['object','category'])

labelencoder = LabelEncoder()

for cat_col in categorical_attributes:
    data_df[cat_col] = labelencoder.fit_transform(data_df[cat_col])

In [10]:
categorical_attributes

,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...
210,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

# Scaling Features

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [12]:
selected_attributes = ['ssc_p','hsc_p','degree_p','etest_p']
X,y = data_df[selected_attributes], data_df['status']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, stratify=y)

## Scaling Features

In [14]:
standard_scaler = StandardScaler()

In [15]:
standard_scaler.fit(X_train)

StandardScaler()

In [16]:
X_train = standard_scaler.transform(X_train)
X_test = standard_scaler.transform(X_test)

# Modeling

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
knn_model_ = KNeighborsClassifier(n_neighbors=3)
knn_model_.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [19]:
y_pred_knn = knn_model_.predict(X_test)

In [20]:
from sklearn import metrics

In [21]:
print(metrics.classification_report(y_test,y_pred_knn))

              precision    recall  f1-score   support

           0       0.85      0.50      0.63        22
           1       0.81      0.96      0.88        49

    accuracy                           0.82        71
   macro avg       0.83      0.73      0.75        71
weighted avg       0.82      0.82      0.80        71

# save model

## Installing Flask

In [22]:
!pip install flask

Requirement already satisfied: flask in c:\users\asus\.conda\envs\h8_001\lib\site-packages (2.0.2)
Requirement already satisfied: click>=7.1.2 in c:\users\asus\.conda\envs\h8_001\lib\site-packages (from flask) (8.0.3)
Requirement already satisfied: Jinja2>=3.0 in c:\users\asus\.conda\envs\h8_001\lib\site-packages (from flask) (3.0.1)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\asus\.conda\envs\h8_001\lib\site-packages (from flask) (2.0.1)
Requirement already satisfied: Werkzeug>=2.0 in c:\users\asus\.conda\envs\h8_001\lib\site-packages (from flask) (2.0.2)
Requirement already satisfied: colorama in c:\users\asus\appdata\roaming\python\python37\site-packages (from click>=7.1.2->flask) (0.4.1)
Requirement already satisfied: importlib-metadata in c:\users\asus\.conda\envs\h8_001\lib\site-packages (from click>=7.1.2->flask) (3.10.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\asus\.conda\envs\h8_001\lib\site-packages (from Jinja2>=3.0->flask) (2.0.1)
Requirement already satisfied: zipp>=0.5 in c:\users\asus\.conda\envs\h8_001\lib\site-packages (from importlib-metadata->click>=7.1.2->flask) (3.5.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\asus\.conda\envs\h8_001\lib\site-packages (from importlib-metadata->click>=7.1.2->flask) (3.10.0.0)

In [23]:
import pickle

In [24]:
models={
    'standard_scaler':standard_scaler,
    'knn_':knn_model_
}

## Simpan model 
***
Model yang sudah dilatih akan disimpan dalam format *.pkl* atau *pickle*. Model inilah yang nantinya akan diload ke dalam aplikasi yang akan dikembangkan berbasis website dengan menggunakan pustaka *Flask*

In [25]:
pickle.dump(models,open('models/knn_model.pkl','wb'))